.circle{
    margin: auto;
    text-align: center;    
    background-color: green;
    width: 200px;
    border-radius: 50%;
    height: 170px;
    font-size: x-large;
    font-weight: bold;
    //color: white;
}
.card{
    width: 200px;
    height: 100px;
    border-radius: 10px;
}
.card span{
    text-align: center;
    font-size: large;
    color: white;    
}
.card .aa{
    font-size: x-large;
}