<div class="container">  
  <h1 style="text-align: center;">C<img src="../../assets/images/cor.png" alt="O" style="width: 2rem; height: 2rem;">vid-19 Update</h1>
  <div class="circle bg-warning">    
    <p class="pt-4">Total Cases</p>
    <hr>
    <p style="font-size: xx-large;" [countUp]="gconfirm">0</p>
  </div>  
  <br>
  <div class="d-flex justify-content-around">
    <div class="card" style="background-color: hsl(202, 58%, 44%);">
      <span class="pt-3">Active</span>
      <span class="pt-2 aa" [countUp]="gactive">0</span>
    </div>
    <div class="card" style="background-color: hsl(145, 83%, 40%);">
      <span class="pt-3">Recovered</span>
      <span class="pt-2 aa" [countUp]="grecover">0</span>
    </div>
    <div class="card" style="background-color: #ff0000a1;">
      <span class="pt-3">Deaths</span>
      <span class="pt-2 aa" [countUp]="gdeath">0</span>
    </div>        
  </div>   
  <!--<p class="pt-2" style="text-align: right;">Last Updated: {{globe.lastUpdate}}</p>-->
  <br>
  <div class="d-flex justify-content-around flex-wrap">
    <div class="d-flex">
      <div class='box bg-warning'></div>
      <span class="def"> Confirmed</span>
    </div>
    
    <div class="d-flex">
      <div class='box' style="background-color: hsl(202, 58%, 44%);"></div>
      <span class="def"> Active</span>
    </div>
    
    <div class="d-flex">
      <div class='box' style="background-color: hsl(145, 83%, 40%);"></div>
      <span class="def"> Recovered</span>
    </div>
    <div class="d-flex">
      <div class='box' style="background-color: #ff0000a1;"></div>
      <span class="def"> Deaths</span>
    </div>

  </div>
  <br>
</div>
