<div class="container"> 

  <form [formGroup]="form">
    
    <div *ngIf="countries">
      <label>Select Country: </label>
      <select class="custom-select" formControlName="selectedcountry">           
        <option *ngFor="let country of countries" [(ngValue)]="country.name">
          {{ country.name }}
        </option>
      </select>
    </div>

    <div *ngIf="selcountry">
      <br>
      <div class="confirm progress-bar bg-warning" [countUp]="selcountry.confirmed.value">0</div>
      <br>
      <div class="d-flex">
        <span class="active progress-bar progress-bar-striped progress-bar-animated" [style.width.%]="100*(selcountry.confirmed.value - selcountry.recovered.value - selcountry.deaths.value)/selcountry.confirmed.value"></span>
        <span class="num" [countUp]="selcountry.confirmed.value - selcountry.recovered.value - selcountry.deaths.value">0</span>
      </div>
      <div class="d-flex">
        <span class="recover progress-bar progress-bar-striped progress-bar-animated" [style.width.%]="(100*selcountry.recovered.value)/selcountry.confirmed.value"></span>
        <span class="num" [countUp]="selcountry.recovered.value">0</span>
      </div>
      <div class="d-flex">
        <span class="death progress-bar progress-bar-striped progress-bar-animated" [style.width.%]="(100*selcountry.deaths.value)/selcountry.confirmed.value"></span>
        <span class="num" [countUp]="selcountry.deaths.value">0</span>
      </div>
    </div>

    <div [hidden]="countries">
      <div class="spinner-border text-info"></div>
    </div>
    

    <br><br>
    <div *ngIf="states && states.length>1">
      <label>Select Province: </label>
      <select class="custom-select" formControlName="selectedprovince">           
        <option *ngFor="let state of states" [(ngValue)]="state.uid">
          {{ state.provinceState }}
        </option>
      </select>
    </div>

    <div *ngIf="stat">
      <br>
      <div class="confirm progress-bar bg-warning" [countUp]="stat.confirmed">0</div>
      <br>
      <div class="d-flex">
        <span class="active progress-bar progress-bar-striped progress-bar-animated" [style.width.%]="(100*stat.active)/stat.confirmed"></span>
        <span class="num" [countUp]="stat.active">0</span>
      </div>
      <div class="d-flex">
        <span class="recover progress-bar progress-bar-striped progress-bar-animated" [style.width.%]="(100*stat.recovered)/stat.confirmed"></span>
        <span class="num" [countUp]="stat.recovered">0</span>
      </div>
      <div class="d-flex">
        <span class="death progress-bar progress-bar-striped progress-bar-animated" [style.width.%]="(100*stat.deaths)/stat.confirmed"></span>
        <span class="num" [countUp]="stat.deaths">0</span>
      </div>      
      <br><p>Incident Rate: <b>{{stat.incidentRate}}</b> <img src="../../assets/images/rate.jpg" width="20" height="20"></p>
      <hr>
      <p style="text-align: right;">Last Updated: {{stat.lastUpdate | date:'medium'}}</p>
    </div>

    <div *ngIf="!states && selcountry">
      <div class="spinner-border text-info"></div>
    </div>    
  </form>    
  <br><br><br>
</div>
